
<div class="h-auto d-flex align-items-center justify-content-around">

    @* <div class="text-center"> *@
    @*     <label for="" class="text-center">Name</label> *@
    @*     <input type="text"> *@
    @* </div> *@
    @* <div> *@
    @*     <label for="">Password</label> *@
    @*     <input type="password"> *@
    @* </div> *@

    <button class="home--button">
        test
    </button>

    <div class="username--text">
        
    </div>
</div>


<script >
    $(".username--text").click(function(){
        $(".username--text").toggle();
    });
</script>